# Python
__pycache__/
src/pytest_shm/_version.py
*.py[cod]
build/
dist/
*.egg-info/

# Virtual environments
.venv/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
